
body{
    background: black url("Background.png");
    background-size: cover;
    opacity: 1;
    transition: opacity 1s ease-out;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
}
#Titlepage{
    position: absolute;
    left: 30%;
    top: 55%;
}

@font-face {
    font-family: FontA;
    src: url("FIRES\ PERSONAL\ USE.ttf");
}
@font-face {
    font-family: FontB;
    src: url("Ricebox\ Allcaps.ttf");
}
h1{
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
    font-size: 50px;
     text-align:center ;
     font-family: FontA ;
     color:red;
     transform: translateY(-100%);
}
h2{
    font-family: FontB;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: rgb(251, 0, 0);
    text-align:center ;
    font-size: 30px;
    color:white;
    transform: translateY(-200%);
}
#tabs {
    margin: 50px;
    text-align: center;
}
#Smalltabs{
    font-family: FontB;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
    font-size: 25px;
    color: black;
}
#Order{
    padding: 10px;
    margin: 10px;
}
.button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border: none;
    color: white;
    font-family: FontB;
    padding: 25px 25px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;
    /*animation-name: OrderMove;
    animation: OrderMove 4s infinite;*/
}
.Pride{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border: none;
    color: white;
    font-family: FontB;
    padding: 25px 25px;
    font-size: 15px;
    cursor: pointer;
    animation-name:Pride;
    animation: Pride 6s infinite
}
.button2{
    background-color: red;
    text-align: center;
    border: none;
    color: white;
    font-family: FontB;
    padding:10px;
}

.button{border-radius: 12px;}
.Pride{border-radius: 12px;}

@keyframes OrderMove {
    0% { border-bottom-right-radius: 10px;} 
    50%{border-bottom-right-radius: 200px; background-color: white; color: red;}
    100%{ border-bottom-right-radius: 10px;}
}

@keyframes Pride{
    25%{border-bottom-right-radius: 200px ; background-color: aqua;}
    35%{background-color: pink; color: white;}
    50% {border-bottom-right-radius: 200px; background-color: purple; color: white;}
    75%{background-color: green; color: white;}
    90%{background-color: yellow; color: black;}
    100% {background-color: red;}
}
.button:hover {
    background-color: white;
    color:red;
}
footer{
font-family:'Courier New', Courier, monospace;
color: white;
text-align: center;
margin-bottom: 0;
font-size: 10px;
transform: translate(0%,100%);
}

.IG{
    cursor: pointer;
}