
@font-face {
    font-family: FontB;
    src: url("Ricebox\ Allcaps.ttf");
}
@font-face {
    font-family: FontA;
    src: url("FIRES\ PERSONAL\ USE.ttf");
}
body{
    background: url("OrderBackground.png");
    background-size: auto;
}
h1{
    font-family: FontA;
    text-align: center;
    font-size: 40px;
    color: red;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: FontB;
    color: red;
}
#Platez{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
#Appz{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
#Tabs{
    font-family: FontB;
    font-size: 35px;
    color: red;
    padding: auto;
    background-color: white;
    display: flex;
    justify-content: space-around; 
    margin: 20px 0;
}
#Dessertz{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
footer{
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-align: right;
    margin-bottom: 0;
    font-size: 10px;
    translate: (0%,500%);
}
#Footer {
    background-color: #000; 
    padding: 10px;   
    margin: 23px, 5px;
    width: auto;
    margin-bottom: 0;
    transform: translate(0%, 100%);
}

.Pbutton{
    padding:45px 50px;
    margin: 4px 2px;
    background-color: white;
    color: red;
    text-align: center;
    align-items: center;
    height:250px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 40px;
    cursor: pointer;
}
.Abutton{
    padding:45px 50px;
    margin: 4px 2px;
    background-color: white;
    color: red;
    text-align: center;
    align-items: center;
    height:250px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 40px;
    cursor: pointer;
}
.Dbutton{
    padding:45px 50px;
    margin: 4px 2px;
    background-color: white;
    color: red;
    text-align: center;
    align-items: center;
    height:250px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 40px;
    cursor: pointer;
}
#prices{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

#FeaturedItems{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.FeaturedItems{
    padding:30px 50px;
    margin: 4px 2px;
    background-color: white;
    color: red;
    text-align: center;
    align-items: center;
    height:250px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 40px;
}

.back{
    padding: 10px 10px;
    font-family: FontA;
    background-color: red;
    color: white;
}
.IG{
    cursor: pointer;
}

