
@font-face {
    font-family: FontB;
    src: url("Fonts/Ricebox\ Allcaps.ttf");
}
@font-face {
    font-family: FontA;
    src: url("Fonts/FIRES\ PERSONAL\ USE.ttf");
}
@font-face{
    font-family: FontC;
    src: url("Fonts/Pridi-Bold.ttf")
}
@font-face {
    font-family: FontD;
    src: url(Fonts/LTSuperior-SemiBold.otf);
}

body{
    background: url("Images/OrderBackground.png");
    background-size: cover;
}
h1{
    font-family: FontA;
    text-align: center;
    font-size: 40px;
    color: red;
    -webkit-text-stroke-width: .5px ;
    -webkit-text-stroke-color:gold;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: FontB;
    color: gold;
}
#Platez{
    display:flex;
    justify-content: space-around;
    padding: 120px;
}
#Appz{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
.Tabs{
    font-family: FontB;
    font-size: 35px;
    color: red;
    padding: auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
#tab:hover{
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
}

a:link{
    font-family: FontB;
    font-size: 35px;
    color: red; 
    text-decoration: none;
}
a:visited{
    color: red; 
    text-decoration: none;
}
#Dessertz{
    display: flex;
    justify-content: space-around;
    padding: 120px;
}
footer{
    font-family:FontD;
    color: white;
    text-align: right;
    margin-bottom: 0px;
    font-size: 10px;
    margin: auto;

}
#Footer {
    padding: 10px;   
    margin: 23px, 5px;
    width: auto;
    margin:auto;
}

.Items{
    margin: 4px 2px;
    background-color: red;
    color: black;
    text-align: center;
    align-items: center;
    height:280px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 30px;
    cursor: pointer;
    border-radius: 12px;
    animation-name: OrderMove;
}
.Items:hover{
    background-color: gold;
}

@keyframes OrderMove {
    /*Default*/
    50%{background-color: white; color: red;}
}

.Unavailable{
    padding:45px 50px;
    margin: 4px 2px;
    background-color: grey;
    color: red;
    filter:grayscale();
    text-align: center;
    align-items: center;
    height:280px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 40px;
    opacity: 75%;
    cursor: not-allowed;
}
#xLetter{
    font-family: FontA;
    font-size:480px;
    text-align: center;
    align-items: center;
    transform : translate(-25%, -40%);
    color: rgb(72, 9, 9)
}

#prices{
    font-family: FontC;
    font-size: 30px;
}

#FeaturedItems{
    display: flex;
    justify-content: space-around;
}

.FeaturedItems{
    padding:30px;
    margin: 4px 2px;
    background-color: red;
    color: gold;
    text-align: center;
    align-items: center;
    height:280px;
    width:250px;
    font-size: 35px;
    font-family: FontB;
    padding: 40px;
    cursor: pointer;
    border-radius: 12px;
    animation-name: FeaturedMove;
    animation: FeaturedMove 3s infinite;
}

@keyframes FeaturedMove {
    /*Default*/
    50%{background-color: gold; color: red}
}

.back{
    padding: 10px 10px;
    font-family: FontA;
    background-color: red;
    color: white;
}
.back:visited{
    color: white;
    font-family: FontA;
    background-color: red;
    padding: 10px 10px;
}



.IG{
    cursor: pointer;
}

