@font-face {
    font-family: FontC;
    src: url(assets/Fonts/LTSuperior-SemiBold.otf);
    font-display: swap;
}
body{
    background: url("assets/Images/webp_images/MenuBackground.webp");
    background-size:cover;
    background-color: black;
    opacity: 1;
    transition: opacity 1s ease-out;
    justify-content: center;
}
#Logo{
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: block; 
    margin: -50px auto; 
    background-image: url("assets/Images/webp_images/Maydayz.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
@font-face {
    font-family: FontA;
    src: url("assets/Fonts/FIRES\ PERSONAL\ USE.ttf");
    font-display:swap;
}
@font-face {
    font-family: FontB;
    src: url("assets/Fonts/Ricebox\ Allcaps.ttf");
    font-display:swap;
}
h1{
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: white;
    font-size: 6vh;
     text-align:center ;
     font-family: FontA ;
     color:red;

}
a{
    text-decoration: none;
}
.tabs {
    margin: 50px;
    text-align: center;
}

.button{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    border: none;
    color: white;
    font-family: FontB;
    font-size: 4vh;
    border-radius: 12px;
}
.Pride{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border: none;
    color: white;
    font-family: FontB;
    padding: 25% 25%;
    font-size: 15px;
    cursor: pointer;
    animation-name:Pride;
    animation: Pride 6s infinite
}
.button2{
    background-color: #cc0000;
    text-align: center;
    border-radius: 10%;
    border: none;
    color: white;
    font-family: FontB;
    font-weight: bold;
    font-size: 20px;
    padding:10px;
    margin-bottom: -3%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
#Smalltabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}
.Soxiety{
    font-family: FontC;
}
#red{
    color: red;
}

/* Group the logo, menu and about us */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button{border-radius: 12px;}
.Pride{border-radius: 12px;}

footer{
font-family: FontC;
text-align: center;
color: white;
font-size: 2vh;
}

.IG{
    cursor: pointer;
}


